body {
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Sen', sans-serif;
}

.navbar{
  background-image: url(../images/introduction.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}

.navbar a img {
  width: 210px;
}

ul.navbar-nav li a{
 color: white;
}
